{% trans_default_domain 'four-tochki.admin' %}

<div class="tab-content">

    <div class="tab-pane fade show active" id="tab_auth" role="tabpanel">

        <div class="d-flex align-items-center gap-3 mb-3">
            {# Если администратор ресурса #}
            {% if is_granted('ROLE_ADMIN') and form.profile.value is defined %}
                <div class="w-100">
                    {{ form_row(
                        form.profile.value,
                        {
                            label: 'Профиль пользователя',
                            placeholder: 'Выберите профиль из списка...',
                            attr: { class: 'mb-2' }
                        }
                    ) }}
                </div>
            {% endif %}

            <div class="w-50 mb-2 clearfix">

                <div class="d-flex gap-2 align-items-center mb-2">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16"
                         fill="currentColor"
                         class="text-muted" viewBox="0 0 16 16"

                         role="tooltip"
                         data-bs-toggle="tooltip"
                         data-bs-placement="bottom"
                         data-bs-original-title="Данные пользователя > «Параметры доступа к API-сервису»"
                    >
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                    </svg>

                    {{ form_label(form.login.value, 'Логин пользователя', { label_attr: { class: 'm-0'}} ) }}

                </div>

                {{ form_widget(form.login.value) }}

            </div>

            <div class="w-50 mb-2 clearfix">

                <div class="d-flex gap-2 align-items-center mb-2">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16" height="16"
                         fill="currentColor"
                         class="text-muted" viewBox="0 0 16 16"

                         role="tooltip"
                         data-bs-toggle="tooltip"
                         data-bs-placement="bottom"
                         data-bs-original-title="Данные пользователя > «Параметры доступа к API-сервису»"
                    >
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                    </svg>

                    {{ form_label(form.password.value, 'Пароль пользователя', { label_attr: { class: 'm-0'}} ) }}

                </div>

                {{ form_widget(form.password.value) }}

            </div>

        </div>

        {% if form.password.vars.data %}
            <div class="alert alert-warning mb-2" role="alert">
                В целях безопасности пароль пользователя не отображается в форме. Оставьте поле пустым, если  обновление
                пароля не требуется!
            </div>
        {% endif %}

        <div class="d-flex gap-3 m-3">

            <div class="d-flex gap-3 mb-3 w-50">
                <div class="w-100">

                    <div class="d-flex gap-2 align-items-center mb-2">

                        {{ form_label(form.warehouse.value, 'ID склада', { label_attr: { class: 'm-0'}} ) }}

                    </div>

                    {{ form_widget(form.warehouse.value, { label: 'ID склада 4tochki' }) }}

                </div>
            </div>

            <div class="d-flex gap-3 mb-3 w-50">
                <div class="w-100">

                    <div class="d-flex gap-2 align-items-center mb-2">

                        {{ form_label(form.percent.value, 'Торговая наценка', { label_attr: { class: 'm-0'}} ) }}

                    </div>

                    {{ form_widget(form.percent.value, { label: 'Торговая наценка' }) }}

                </div>
            </div>

        </div>

        {% if is_granted('ROLE_FOUR_TOCHKI_AUTH_ACTIVE') or is_granted('ROLE_ADMIN') %}
            <div class="flex-fill d-flex justify-content-around pb-3 radio-buttons gap-3" data-buttons="true">
                <label class="btn p-3 border-dotted rounded-3 w-100 {{ form.active.value.vars.data ? 'active' }}">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                        <span class="h5">
                            <div class="form-check d-flex align-items-center">
                                {{ form_widget(form.active.value, { label: false }) }}
                                <span>
                                    Активный профиль
                                </span>
                            </div>
                        </span>
                        </div>
                    </div>
                </label>
            </div>
        {% endif %}

    </div>

</div>










